.Text {
  max-width: 45rem;
  margin: 0 auto;
  background-color: #fff;
  padding: 1rem 0;
}

.Text h1,
.Text h2,
.Text h3,
.Text h4,
.Text h5,
.Text h6,
.Text ol,
.Text ul,
.Text p {
  max-width: 100%;
  box-sizing: border-box;
  padding: 13px 16px 11px;
}

.Text h1 {
  font-size: 150%;
}

.Text h2 {
  font-size: 120%;
}

.Text ol,
.Text ul {
  padding-left: 3.5rem;
}

.Text ol {
  list-style-type: decimal;
}

.Text ul {
  list-style-type: disc;
}

.Text li {
  padding-left: .5rem;
}
