.MainAside {
  position: absolute;
  top: 48px;
  right: 0;
  width: 353px;
  height: calc(100vh - 48px);
  box-sizing: border-box;
  border-left: 1px solid #c6d0d4;
  overflow-y: auto;
  background-color: #fff;
}

.MainAside > .header {
  height: 48px;
  line-height: 48px;
  position: relative;
  background-color: #ebf1f3;
  color: #202020;
  box-sizing: border-box;
  border-bottom: 1px solid #c6d0d4;
  padding: 0 64px 0 16px;
  font-size: 120%;
  font-weight: bold;
}

.MainAside > .header > .close {
  position: absolute;
  right: 0;
  top: 0; 
}

.MainAside > .body {
  height: calc(100% - 48px);
  overflow-y: auto;
}
